.header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  right: 0rem;
  width: 100%;
  height: 4.5rem;
  margin-top: 2.5rem;
  z-index: 1;

  .logo-image {
    height: 50%;
    margin-left: 2rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(18px);
    justify-content: space-between;
    height: 100%;
    width: 55.5vw;
    min-width: 45rem;
    color: white;
    opacity: 1;
    font-family: "Bellefair", serif;

    nav {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      transition: 0.2s ease-in-out all;

      .indicador {
        height: 4.5px;
        background-color: white;
        position: absolute;
        bottom: 0;
        transition: 0.3s ease-out all;
        margin-left: 88px;
      }

      ul {
        display: flex;
        height: 100%;
        width: 100%;
        padding-left: 5.5rem;
        li {
          display: flex;
          height: 100%;
          justify-content: space-between;
          list-style-type: none;

          .nameLink {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;
            color: #bdbdbd;
            margin-right: 3rem;

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 0.5rem;
              color: #fafafa;
            }
          }
        }
      }
    }
  }
}
