.header {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5.5rem;
  margin-top: 2.5rem;
  z-index: 1;

  @media screen and (max-width: 768px) {
    margin-top: 0rem;
    height: 6rem;
  }

  .logo-image {
    height: 50%;
    margin-left: 3vw;

    @media screen and (max-width: 468px) {
      height: 32px;
      width: 32px;
      margin-left: 1.8rem;
    }
  }

  .navbar {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(18px);
    justify-content: space-between;
    height: 100%;
    width: 54.4vw;
    min-width: 45rem;
    color: white;
    opacity: 1;
    

    @media screen and (max-width: 768px) {
      align-items: center;
      justify-content: center;
      width: 30rem;
      min-width: 0rem;
    }

    @media screen and (max-width: 468px) {
      display: none;
    }

    nav {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      margin-left: 5.5rem;
     // background-color: red;

      @media screen and (max-width: 768px) {
        margin-left: auto;
        margin-right: auto;
      }

      .indicador {
        height: 3.5px;
        background-color: white;
        position: absolute;
        bottom: 0;
        transition: 0.3s ease-out all;
        //margin-left: 88px;

        @media screen and (max-width: 768px) {
         // margin-left: 5px;
        }
      }

      ul {
        display: flex;
        height: 100%;
      //  background-color: orange;

        @media screen and (max-width: 768px) {
        //  padding-left: 0;
        }

        li {
          display: flex;
          height: 100%;
          justify-content: space-between;
          list-style-type: none;
          margin-right: 3.5rem;
          //  background-color: green;

          @media screen and (max-width: 768px) {
            margin-right: 2rem;
            justify-content: center;
          }

          .nameLink {
            display: flex;
            height: 100%;
            align-items: center;
            text-decoration: none;
            color: #bdbdbd;

            @media screen and (max-width: 768px) {
              P {
                font-size: 0.85rem;
              }
              margin-right: 0vw;
            }

            span {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 0.5rem;
              color: #fafafa;

              @media screen and (max-width: 768px) {
                display: none;
                margin-right: 0rem;
              }
            }
          }
        }
      }
    }
  }
}
