.destinationContainer {
  display: flex;
  height: 100%;
  width: 100%;

  .background-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    img {
      display: flex;
      height: 100%;
      width: 100%;
    }
  }
}
