.homeContainer {
  display: flex;
  height: 100%;
  width: 100%;

  .background-image {
    display: flex;
    height: 100%;
    width: 100%;
    background: url("../assets/images/home/background-home-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;

    .left-container,
    .right-container {
      flex: 1;
      height: 100%;
      width: 100%;
    }
    .left-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .text-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-top: 8rem;
        padding: 0vw 8vw;

        .text-tittle {
          color: #bdbdbd;
          font-size: 1.6rem;
          font-family: "Bellefair", serif;
        }
        .text-body {
          text-align: left;
          font-size: 9rem;
          color: #fafafa;
          margin-bottom: 1rem;
          font-family: "Bellefair", serif;
        }
        .text {
          font-size: 1.35rem;
          color: #bdbdbd;
          font-family: "Bellefair", serif;
          text-align: justify;
        }
      }
    }
    .right-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      .home-circle {
        display: flex;
        height: 12rem;
        width: 12rem;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        margin-top: 15rem;
        margin-left: 8.2vw;

        h2 {
          font-size: 1.7rem;
          font-weight: lighter;
          font-family: "Bellefair", serif;
        }
      }
    }
  }
}
