.homeContainer {
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: url("../assets/images/home/background-home-desktop.jpg") center
    center no-repeat;
  background-size: cover;

  @media screen and (max-width: 768px) {
    background: url("../assets/images/home/background-home-tablet.jpg") center
      center no-repeat;
    background-size: cover;
    height: 140vh;
  }

  @media screen and (max-width: 468px) {
    background: url("../assets/images/home/background-home-mobile.jpg") center
      center no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .left-container,
    .right-container {
      flex: 1;
    }
    .left-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .text-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-top: 11rem;
        padding: 0vw 8vw;

        @media screen and (max-width: 768px) {
          padding: 0vw 12vw;
        }

        @media screen and (max-width: 468px) {
          margin-top: 18vh;
          padding: 0vw 5vw;
        }

        .text-tittle {
          color: #bdbdbd;
          font-size: 1.6rem;
          font-family: "Bellefair", serif;

          @media screen and (max-width: 768px) {
            text-align: center;
            font-size: 1.3rem;
            margin-bottom: 1rem;
          }

          @media screen and (max-width: 468px) {
            margin-bottom: 1vh;
            font-size: 1rem;
          }
        }
        .text-body {
          text-align: left;
          font-size: 9em;
          color: #fafafa;
          margin-bottom: 1rem;
          font-family: "Bellefair", serif;

          @media screen and (max-width: 768px) {
            text-align: center;
            font-size: 10rem;
          }

          @media screen and (max-width: 468px) {
            margin-bottom: 2vh;
            font-size: 5em;
          }
        }
        .text {
          font-size: 1.3em;
          color: #bdbdbd;
          font-family: "Bellefair", serif;
          text-align: justify;
          max-width: 449px;

          @media screen and (max-width: 768px) {
            text-align: center;
            font-size: 1.3rem;
          }

          @media screen and (max-width: 468px) {
            text-align: center;
            font-size: calc(1rem + 1.2vw);
          }
        }
      }
    }
    .right-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;

      .home-circle {
        display: flex;
        height: 12vw;
        width: 12vw;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        margin-top: 35vh;
        margin-left: 8.2vw;

        @media screen and (max-width: 768px) {
          height: 16rem;
          width: 16rem;
          margin-top: 15vh;
          margin-left: 0vw;
        }

        @media screen and (max-width: 468px) {
          margin-top: none;
          margin-top: 6vh;
          height: 9rem;
          width: 9rem;
        }

        h2 {
          font-size: 1.7rem;
          font-weight: lighter;
          font-family: "Bellefair", serif;

          @media screen and (max-width: 768px) {
            font-size: 2rem;
          }

          @media screen and (max-width: 468px) {
            font-size: 1.4rem;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
