.technologyContainer {
  display: flex;
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  font-family: "Bellefair", serif;

  background: url("../assets/images/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .mainContainer{
    display: flex;
    height: 100%;
    width: 100%;

    .left-container,
    .right-container{
      flex: 1;
    }

    .left-container{
     // background-color: blue;
      display: flex;
      height: 100%;
      width: 100%;
      position: relative;

      .text-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        height: 78%;
        width: 95%;
        bottom: 0rem;
        right: -6rem;

        .tittle-container{
          display: flex;
          width: 100%;

          p{
            color: #bdbdbd;
            font-size: 1.8rem;
            word-spacing: 0.5rem;

            span{
              color: hsl(234, 11%, 52%);
              margin-right: 1rem;
            }
          }
        }
        .bodyText-container{
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-top: 7rem;

          .navBar{
            display: flex;
            flex-direction: column;
          //  justify-content: space-between;
            height: 100%;
            width: 11%;
            align-items: center;
            gap: 1.9rem;

            .circle{
              display: flex;
              align-items: center;
              justify-content: center;
              height: 4rem;
              width: 4rem;
              border-radius: 50%;
              border: 1px solid hsl(234, 11%, 52%);
              background-color: transparent;

              &:hover{
                cursor: pointer;
              }

              p{
                color: white;
                font-size: 1.5rem;
              }
            }
            .selected{
              background-color: white;

              p{
                color: black;
              }
            }
          }
          .info-text-container{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 78%;

            .tittle{
              p{
                font-size: 1rem;
                color: #bdbdbd;
              }
            }

            .nameVehicle{
              margin-bottom: 1rem;
              p{
                font-size: 3.8rem;
                color: white;
                text-transform: uppercase;
              }
            }

            .description{
              width: 100%;
              padding-right: 8rem;
              height: 100%;

              p{
                font-size: 1.3rem;
                color: #bdbdbd;
              }
            }
          }
        }
      }
    }
    .right-container{
      display: flex;
      position: relative;
      align-items: center;
      width: 100%;

      .imageTechnology{   
        height: 70%;
        position: absolute;
        right: 0rem;
        bottom: 4vh;

       img{
        display: flex;
         height: 100%;
       }
      }
    }
  }
}